<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title_short %}{{ page.title_short }} | {{ site.title }}{% elsif page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <!-- Content Security Policy -->
  <meta http-equiv="Content-Security-Policy"
        content="default-src *;
                img-src 'self'
                  https: www.cts-llc.net
                  data: ssl.gstatic.com static.licdn.com stats.g.doubleclick.net
                        syndication.twitter.com www.facebook.com
                        www.google-analytics.com www.linkedin.com;
                script-src 'self' 'unsafe-inline' apis.google.com
                           connect.facebook.net platform.linkedin.com
                           platform.twitter.com www.google-analytics.com
                           s3.amazonaws.com cdnjs.cloudflare.com calendly.com;
                style-src 'self' 'unsafe-inline' s3.amazonaws.com;">
  <!-- OpenGraph -->
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{% if page.title_short %}{{ page.title_short }} | {{ site.title }}{% elsif page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:image" content="{% if page.image %}{{ page.image | prepend: site.url }}{% else %}{{ '/images/logo-square.png' | prepend: site.url }}{% endif %}" />
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{ site.twitter_username }}" />
  <meta name="twitter:title" content="{% if page.title_short %}{{ page.title_short }} | {{ site.title }}{% elsif page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:image" content="{% if page.image %}{{ page.image | prepend: site.url }}{% else %}{{ '/images/logo-square.png' | prepend: site.url }}{% endif %}" />
  <!-- Google+ Publisher -->
  <link href="https://plus.google.com/106568781905361232916" rel="publisher" />
  <!-- Links -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
