<header class="light" id="page-header">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <a href="{{ site.baseurl }}/" title="{{ site.title }}"><img id="site-logo" src="/images/logo.png"></a>
      </div>
      <div class="six columns">
        <nav class="navbar" id="navbar">
          <ul class="navbar-list u-pull-right">
            <li class="navbar-item"><a class="navbar-link" href="/clients">Clients</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/services">Services</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
