//
// Variables
//

$accent          : #789ABC;
$accent-light    : lighten($accent, 20%);
$accent-lighter  : lighten($accent, 30%);
$accent-lightest : lighten($accent, 40%);
$accent-dark     : darken($accent, 20%);
$accent-darker   : darken($accent, 30%);
$accent-darkest  : darken($accent, 40%);

$gray          : #666;
$gray-light    : lighten($gray, 20%);
$gray-lighter  : lighten($gray, 30%);
$gray-lightest : lighten($gray, 40%);
$gray-dark     : darken($gray, 20%);
$gray-darker   : darken($gray, 30%);
$gray-darkest  : darken($gray, 40%);

$print-dark  : #000;
$print-light : #FFF;


//
// Tag Styles
//

html, body { height: 100%; }

body { font-family: 'Georgia1', Georgia, serif serif; }

a {
  color           : $accent-dark;
  text-decoration : none;
  &:visited { color : $accent-darker; }
  &:hover {
    color           : $accent;
    text-decoration : underline;
  }
}

//
// Class Styles
//

// Font sizes
.navbar-brand-item a { font-size : 20px; }
.smaller-font { font-size : smaller; }

// Lists
.no-marker { list-style : none; }

// SVG icons
.icon svg {
  display        : inline-block;
  width          : 1.5em;
  height         : 1.5em;
  vertical-align : middle;
}

// Images with borders
.framed {
  border : 1px solid $gray;
}


.dark {
  color : $print-light;
  a {
    color           : $accent-lighter;
    text-decoration : none;
    &:visited { color : $accent-light; }
    &:hover {
      color           : $accent-lightest;
      text-decoration : underline;
    }
  }
}

.light {
  color : $print-dark;
  a {
    color           : $gray-darker;
    text-decoration : none;
    &:visited { color : $gray-darkest; }
    &:hover {
      color           : $gray;
      text-decoration : underline;
    }
  }
}

//
// ID Styles
//

#content {
  min-height    : 100%;
  margin-bottom : -250px;
}
#content:after {
  content : "";
  display : block;
  height  : 250px;
}
#page-footer {
  background-color : $accent;
  border-top       : 1px solid $accent-dark;
  height           : 250px;
  margin           : 2em 0 0 0;
  padding          : 1.5em;
}
#page-header {
  background-color : $accent;
  border-bottom    : 1px solid $accent-dark;
  margin           : 0 0 2em 0;
}